*{
    box-sizing: border-box;
}

body{
    height: 300rem;
    width: 150rem;
}

#in_header{
    background-color: rgb(224, 211, 161);
    height: 7rem;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#logo{
    height: 100%;
    width: 15rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 5rem;
}

#gnb{
    width: 100rem;
    display: flex;
}

.nav_btn{
    width: 20rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a[href="#"] {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

#section_1{
    background-color: rgb(255, 242, 227);
    height: calc(100rem - 60rem);
}

#section_2{
    background-color: rgb(224, 211, 161);
    width: 100%;
    height: calc(100rem - 75rem);
}

#circle_container {
    background-color: aqua;
    width: 120rem;
    height: 18rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.circle{
    border: 1px solid black;
    border-radius: 100rem;
    width: 18rem;
    height: 18rem;
    margin-right: 0;
}

#section_3{
    padding: 0 15rem;
}

ul{
    background-color: aqua;
    width: 120rem;
    height: 150rem;
    display: grid;
}
