.chat__screen__texts{
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    height: calc(100% - 120px);
}
::-webkit-scrollbar{
    display: none;
}
.chat__screen__texts > .text {
    background-color: #d1eeff;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;
}
.chat__screen__texts > .text::after{
    content: "";
    border-right: 16px solid #d1eeff;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}
.chat__screen__texts > .text:hover{
    background-color: #ffc4ea;
    transition: background-color 0.5s 200ms ease-in;
}

.chat__screen__texts > .text:hover::after{
    border-right: 16px solid #ffc4ea;
    transition: border-right 0.5s 200ms ease-in;
}